body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#content-desktop {
display: inline;
}

#content-mobile {
display: none;
}

.example3 .navbar-brand {
	height: 80px;
}

.example3 .nav >li >a {
	padding-top: 30px;
	padding-bottom: 30px;
}
.example3 .navbar-toggle {
	padding: 10px;
	margin: 25px 15px 25px 0;
}

.section {
	background-color: white;
 	background-size: cover;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
}

.homeSectionOne {
    background-image: url(images/index/banner1.jpg);
    background-position: center;
    min-height: 50%;
}

.homeSectionTwo {
	background-color: white;
    background-position: center;
	color: black;
	text-align: center;
	min-height: 25%;
}

.homeSectionThree {
	background-image: url(images/index/banner2.png);
    background-position: center;
    min-height: 25%;
}

#map {
    height: 200px;
    width: 75%;
}

.modal-header, .close {
    background-color: #5bc0de;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

#parent {
	display: table;
}

#child {
    display: table-cell;
    vertical-align: middle;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #bcbcbc;
    color: white;
}

.navbar-right {
	padding-top: 15px;
}

a.hs2links {
	transform: scale(0.92);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

a.hs2links:hover {
	background-color: #1E90FF;
	color: white;
	border-radius: 20px;
	transform: scale(0.98);
	text-decoration: none;
}

a.industryLinks {
	transform: scale(0.95);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

a.industryLinks:hover {
	transform: scale(1.2);
	color: #999999;
	text-decoration: none;
}

a {
	color: black;
}

a.newsLink:hover {
	color: white;
	text-decoration: none;
	transform: scale(1.05);
	transition:.5s;
}

.btn-info {
	background-color: #1E90FF;
}

.btn-info:hover {
	background-color: #4DA7FF;
}

.productImage {
	border-radius: 35px 35px 15px 15px;
	padding-top: 15px;
}

.aboutSectionOne {
	background-image: url(images/about/OfficePic.png);
	margin-top: 80px;
    background-position: center;
	height: 85%;
}

.blueSplitter {
	background-color: #1E90FF;
	height: 2px;
	border-radius: 10px;
}

div.meetTeam2 {
	text-align: center;
	transition:.5s;
}

div.meetTeam:hover {
	background-color: #1E90FF;
	color: white;
	border-radius: 20px;
	transform: scale(0.98);
	text-decoration: none;
}

.newsSectionOne {
	background-image: url(images/news/newsHeader2.png);
	background-attachment: scroll;
	margin-top: 80px;
    background-position: center;
	height: 50%;
}

.productsSectionOne {
	background-image: url(images/products/products.png);
	background-attachment: scroll;
	margin-top: 80px;
    background-position: center;
	height: 50%;
}

.industriesSectionOne {
	background-image: url(images/industries/industriesBanner.png);
	background-attachment: scroll;
	margin-top: 80px;
    background-position: center;
	height: 50%;
}

.reps {
	text-align: left;
}

h2.news {
	margin-top: 10px;
}

.teamImage {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	transform: scale(0.92);
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.meetTeam2:hover .teamImage {
	opacity: 0.3;
	transform: scale(0.98);
}

.meetTeam2:hover .middle {
	opacity: 1;
}

.aboutFloatingText {
	background-color: #4CAF50;
	border-radius: 10px;
	color: white;
	text-align: left;
	font-size: 16px;
	padding: 10px 20px;
}

.otherFive {
	width: 20%;
}

table { 
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    height: 100px;
    width: 100%;
    align-items: center;
}

table, th, td {
    padding: 15px;
}

th {
	width: 25%;
}

th img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.repRegions > p {
	margin: 5px;
}

.repRegions {
	width: 20%;
	text-align: center;
	transform: scale(0.95);
	transition: 0.5s;
	border-radius: 5px;
}

.repRegions:hover {
	transform: scale(1.05);
	background-color: #4CAF50;
}

@media (max-width: 993px) {
	#content-desktop {
		display: inline;
	}

	#content-mobile {
		display: none;
	}

    .navbar-header {
        float: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    
    .navbar-nav>li {
        float: none;
        height: 30px;
    }
    
    .navbar-nav>li>a {
    	padding: 0px;
    }
    
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    
    .collapsing {
        overflow: hidden!important;
    }
    
    .example3 .nav >li >a {
    	padding: 0px 20px;
    }
    
    .navbar-right {
    	padding-top: 0px;
    	padding-left: 15px;
    	padding-bottom: 15px;
    }
    
    .collapse >ul {
    	padding-top: 15px;
    }

    .section {
    	background-attachment: scroll;
    }

    .aboutSectionOne {
    	height: 50%;
    	margin-top: 70px;
    }

    .newsSectionOne {
    	height: 35%;
    	margin-top: 70px;
    }

    .productsSectionOne {
    	height: 35%;
    	margin-top: 70px;
    }

    .industriesSectionOne {
    	height: 35%;
    	margin-top: 70px;
    }

    .distributors {
    	padding-top: 0px;
    }
}

@media (max-width: 767px) {
	#content-desktop {
		display: none;
	}

	#content-mobile {
		display: inline;
	}

	.otherFive {
		width: 100%;
	}
}

#stateSelector {
	display: none;
}

#provinceSelector {
	display: none;
}

.USAreps {display: block;}

.CANreps {display: block;}

.MEXreps {display: block;}

.AKreps {display: block;}

.ALreps {display: block;}

.ARreps {display: block;}

.AZreps {display: block;}

.CAreps {display: block;}

.COreps {display: block;}

.CTreps {display: block;}

.DEreps {display: block;}

.FLreps {display: block;}

.GAreps {display: block;}

.HIreps {display: block;}

.IAreps {display: block;}

.IDreps {display: block;}

.ILreps {display: block;}

.INreps {display: block;}

.KSreps {display: block;}

.KYreps {display: block;}

.LAreps {display: block;}

.MAreps {display: block;}

.MDreps {display: block;}

.MEreps {display: block;}

.MIreps {display: block;}

.MNreps {display: block;}

.MOreps {display: block;}

.MSreps {display: block;}

.MTreps {display: block;}

.NCreps {display: block;}

.NDreps {display: block;}

.NEreps {display: block;}

.NHreps {display: block;}

.NJreps {display: block;}

.NMreps {display: block;}

.NVreps {display: block;}

.NYreps {display: block;}

.OHreps {display: block;}

.OKreps {display: block;}

.ORreps {display: block;}

.PAreps {display: block;}

.RIreps {display: block;}

.SCreps {display: block;}

.SDreps {display: block;}

.TNreps {display: block;}

.TXreps {display: block;}

.UTreps {display: block;}

.VAreps {display: block;}

.VTreps {display: block;}

.WAreps {display: block;}

.WIreps {display: block;}

.WVreps {display: block;}

.WYreps {display: block;}

.ABreps {display: block;}

.BCreps {display: block;}

.MBreps {display: block;}

.NBreps {display: block;}

.NLreps {display: block;}

.NSreps {display: block;}

.NTreps {display: block;}

.NUreps {display: block;}

.ONreps {display: block;}

.PEreps {display: block;}

.QCreps {display: block;}

.SKreps {display: block;}

.YTreps {display: block;}